*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Arial;
  background-color: #F7FAFC;
}

button,
input {
  font-size: 1em;
  font-family: Arial;
}

label {
  font-weight: 900;
}

input {
  border: 2px solid transparent;
  border-radius: 6px;
  padding: .4em .8em;
  background-color: #E2E8F0;
}

input:focus {
  background-color: #FFFFFF;
  border: 2px solid #CBD5E0;
  outline: 0;
}

button:focus {
  outline: none;
  box-shadow: none;
}
table {
  width: 100%;
}


.wrapper {
  margin: 0 auto;
  max-width: 900px;
  text-align: center;
}

.container-fluid {
  margin: 0 auto;
  text-align: center;  
}

.total {
  font-size: 150%;
}

form {
  margin-top: 25px;
}

.transactions {
  text-align: left;
  max-height: 300px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
}


@media (max-width: 768px) {
  .note {
    font-size: 1.2rem;
    font-weight: 700;
  }
}
